<div>

  <div *ngIf="isPostCreated" class="alert alert-success" role="alert">
    Post was successfully created
  </div>
  
  <ul class="list-group">
    <app-create-post (onCreatePost)="onCreate($event)"></app-create-post>    
    <li *ngFor= "let post of posts" class="list-group-item">
      <app-post-item [post]="post"></app-post-item>
    </li>
  </ul>
</div>



<footer class="footer fixed-bottom">
  <div class="container text-center">
    <span class="text-muted">Copyright © 2020 - Francis Gino Cuevas</span>
  </div>
</footer>